header {
  color: rgb(255, 255, 255);
  font-family: monospace;
  font-size: 40px;
}

body {
  background-color: rgb(40, 43, 62);
}

ul {
  list-style: none;
}

.page-link-button {
  background-color: rgb(111, 245, 191);
  border-top-style: ridge;
  border-left-style: ridge;
  border-right-style: ridge;
  border-bottom-style: ridge;
  border-color: blue;
}

h1 {
}

.site-nav {
  float: right;
  line-height: 0px;
}
